section {
	background-color: #0a001a;
  }

  .text-white {
	text-align: center;
	width: 100%;
  }

  .left-0 {
	left: 0 !important;

  #woman {
background-image:url(woman.jpg);
background-repeat:no-repeat;
background-attachment:fixed;
background-position:left bottom;
}
