body{
  background-color: blue;
  border: 5px;
  border-color: black;
  border-style: solid;
  font-family: Arial

}

.coolest{
  color: red;
  font-size: 15px
}

p{
  box-sizing: border-box;
  width: 10px;
  border: dashed #5B6DCD 10px;
  padding: 8px;


}
img {
  padding: 20px;
  border: 2px;
  border-style: dashed;
  border-color: white;

}
