body{
  background-color: blue;
  border: 5px;
  border-color: black;
  border-style: solid;

}

.coolest{
  color: red;
}

p{
  padding: 10px;
  border-style: dashed;
  border-width: 5%thin;
  border-color: green;
}
img {
  padding: 30px;
  border: 1px;
  border-style: dashed;
  border-color: white;

}
