
.black{
  padding-top: 350px;
   border-style: dashed;
   padding-left: 100px;

   border-color: red



}

.green{
  font-size: 10px;

}

.yellow
{
  font-size: 50px
}

.small
{
  font-size: 5px
}

.red
{

}
